@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Information about Covid Apts</h3>
@section Scripts
    {
    <link rel="stylesheet" href="~/css/main.css" />
}

    <p class="newspaper">
        Covid Apts is an applicatino that came to solve the loneliness of working people at their new workspace - their home. This platform lets people to post their own apartments as a working place and companies will be able to 'rent' them for their own people so they can share a shared workspace.
    </p>

<iframe src="https://www.youtube.com/embed/sHP0UIdZyI4" width="560" height="315" frameborder="0" allowfullscreen></iframe>

<video width="560" height="315" controls>
    <source src="~/videos/CovidApts-video03.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

